.first-section {
  margin-right: auto;
}

section img {
  width: 50px;
  height: 50px;
}

h1 {
  margin-top: 16px;
  font: var(--title);
  margin-bottom: 44px;
}

.hide {
  display: none;
}

#alerta.show {
  display: flex !important;
}

#alerta {
  background-color: var(--color-danger);
  width: 100%;
  display: flex;
  color: var(--always-white);
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 8rem;
  display: none;

  span {
    margin-left: 8px;
  }

  :nth-child(3) {
    margin-left: auto;
  }
}
