@media(width <= 82em ){
  .container {
    --max-width: 375px;
  }

  input {
    width: 327px;
  }

  .second-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .text-field {
    width: 100%;
    
  }

  .button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px;
  }




  




}
