.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  --max-width: 375px;
  width: min(var(--max-width), 100% - 32px * 2);
  margin-inline: auto;
  padding-top: 25px;
}

@media (width >=80em) {
  .container {
    --max-width: 40rem;
  }
}


@media(width <= 82em ){
  .container {
    --max-width: 375px;
  }

  .second-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .text-field {
    width: 100%;
  }

  .button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px;
  }
}

